<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/FireFight/plugins/images/favicon.png">
    <title>Pixel Admin - Responsive Admin Dashboard Template built with Twitter Bootstrap</title>
    <!-- Bootstrap Core CSS -->
    <link href="/FireFight/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/FireFight/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="/FireFight/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="/FireFight/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/FireFight/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/FireFight/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/FireFight/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header" style="height:50px">
                <div class="top-left-part"><a class="logo" href="manager.html"><b><img src="/FireFight/plugins/images/pixeladmin-logo.png" alt="home" /></b><span class="hidden-xs"><img src="/FireFight/plugins/images/pixeladmin-text.png" alt="home" /></span></a></div>
                <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                    <div>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </div>
                    <div  style="clear:both; float:right; position:absolute;  right:50px;" >
                        <a class="profile-pic" href="#"> <img src="/FireFight/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs"><a th:text="${session.user.username}"></a></b> </a>
                    </div>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="/FireFight/manager/manager" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">用户管理</span></a>
                    </li>
                    <li>
                        <a href="/FireFight/api/blog/newBlogs" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">帖子管理</span></a>
                    </li>
                    <li>
                        <a href="/FireFight/manager/shopManager" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">商品管理</span></a>
                    </li>
                    <li>
                        <a href="/FireFight/manager/orderManager" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">订单管理</span></a>
                    </li>
                    <li>
                        <a href="/FireFight/api/message/allMessage" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><span class="hide-menu">留言管理</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- row -->
                <!-- /.row -->
                <!--row -->
                <div class="row">
                    <!-- 搭建显示页面 -->
                    <div class="container">
                        <!-- 标题 -->
                        <div class="row">
                            <div class="col-md-12">
                                <h1>用户管理</h1>
                            </div>
                        </div>
                        <!-- 按钮 -->
                        <div class="row">
                            <div class="col-md-4 col-md-offset-8">
                                <button class="btn btn-primary">新增</button>
                                <button class="btn btn-danger">删除</button>
                            </div>
                        </div>
                        <!-- 显示表格数据 -->
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <tr>
                                        <th>#</th>
                                        <th>用户名</th>
                                        <th>性别</th>
                                        <th>电话</th>
                                        <th>身份</th>
                                        <th>操作</th>
                                    </tr>
                                        <tr th:each="user:${session.users}">
                                            <th th:text="${user.uid} ">1</th>
                                            <th th:text="${user.username}">心境界</th>
                                            <th th:text="${user.gender}">男</th>
                                            <th th:text="${user.telephone}">15188418393</th>
                                            <th th:text="${user.identify=='manager' ? '管理员':'普通用户'}">管理员</th>
                                            <th>
                                                <button class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    编辑
                                                </button>
                                                <button class="btn btn-danger btn-sm">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    删除
                                                </button>
                                            </th>
                                        </tr>
                                    </th:each>
                                </table>
                            </div>
                        </div>

                        <!-- 显示分页信息 -->
<!--                        <div class="row">-->
<!--                            &lt;!&ndash;分页文字信息  &ndash;&gt;-->
<!--                            <div class="col-md-6">当前 ${pageInfo.pageNum }页,总${pageInfo.pages }-->
<!--                                页,总 ${pageInfo.total } 条记录</div>-->
<!--                            &lt;!&ndash; 分页条信息 &ndash;&gt;-->
<!--                            <div class="col-md-6">-->
<!--                                <nav aria-label="Page navigation">-->
<!--                                    <ul class="pagination">-->
<!--                                        <li><a href="${APP_PATH }/emps?pn=1">首页</a></li>-->
<!--                                        <th:if test="${pageInfo.hasPreviousPage }">-->
<!--                                            <li><a href="${APP_PATH }/emps?pn=${pageInfo.pageNum-1}"-->
<!--                                                   aria-label="Previous"> <span aria-hidden="true">&laquo;</span>-->
<!--                                            </a></li>-->
<!--                                        </th:if>-->


<!--                                        <c:forEach items="${pageInfo.navigatepageNums }" var="page_Num">-->
<!--                                            <c:if test="${page_Num == pageInfo.pageNum }">-->
<!--                                                <li class="active"><a href="#">${page_Num }</a></li>-->
<!--                                            </c:if>-->
<!--                                            <c:if test="${page_Num != pageInfo.pageNum }">-->
<!--                                                <li><a href="${APP_PATH }/emps?pn=${page_Num }">${page_Num }</a></li>-->
<!--                                            </c:if>-->

<!--                                        </c:forEach>-->
<!--                                        <c:if test="${pageInfo.hasNextPage }">-->
<!--                                            <li><a href="${APP_PATH }/emps?pn=${pageInfo.pageNum+1 }"-->
<!--                                                   aria-label="Next"> <span aria-hidden="true">&raquo;</span>-->
<!--                                            </a></li>-->
<!--                                        </c:if>-->
<!--                                        <li><a href="${APP_PATH }/emps?pn=${pageInfo.pages}">末页</a></li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
                <!-- /.row -->
                <!-- row -->
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
<!--            <footer class="footer text-center"> 2017 &copy; Pixel Admin brought to you by wrappixel - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </footer>-->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/FireFight/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/FireFight/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/FireFight/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/FireFight/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/FireFight/js/waves.js"></script>
    <!--Counter js -->
    <script src="/FireFight/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="/FireFight/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="/FireFight/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="/FireFight/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/FireFight/js/custom.min.js"></script>
    <script src="/FireFight/js/dashboard1.js"></script>
    <script src="/FireFight/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $.toast({
            heading: 'Welcome to Pixel admin',
            text: 'Use the predefined ones, or specify a custom position object.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'info',
            hideAfter: 3500,
            stack: 6
        })
    });
    </script>
</body>

</html>
